/*-- services --*/
.services,.news{
    background: #e9e9e9;
}
.agile-heading h3{
	text-align:center;
}
.wthree-services-grid {
	overflow: hidden;
	position: relative;
	display: block;
	box-shadow: 0 0px 1px rgb(107, 107, 107),0 1px 2px rgba(0,0,0,.24);
}
.wthree-services-info{
    padding: 1em 0 1.1em 0;
    background: #FFFFFF;
    text-align: center;
}
.wthree-services-info i.fas{
	color: #212121;
    font-size: 3em;
}
.wthree-services-info h4{
    color: #212121;
    font-size: 1.2em;
    margin: 1em 0 0 0;
    text-transform: uppercase;
    font-weight: 600;
}
.w3ls-border{
	width: 30%;
    margin: 1em auto 0;
    border: solid 1px #622A50;
}
.wthree-services-captn {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 6em 1em;
    text-align: center;
    top: -400%;
    right: 0;
    background-color: #622A50;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
	/*display: none;*/
}
.wthree-services-captn h4 {
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    margin: 0;
}
.wthree-services-captn p {
    font-size: .9em;
    margin-top: 1em;
    color: #fff;
    line-height: 1.8em;
}
.wthree-services-grid:hover .wthree-services-captn {
	display:block;
	top: 0%;
	overflow: auto;
}

.services-grids1{
	margin:2em 0 0 0 !important;
}

.button-footr {
    width: 46px;
    height: 46px;
    line-height: 42px;
    font-size: 13px;
    display: block;
    position: relative;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px dotted #FFF;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 10;
    color: #FFF;
}
.button-footr:hover {
	color: #fff;
}
.button-footr:after {
	position: absolute !important;
	content: "";
	width: 36px;
	height: 36px;
	display: block;
	position: relative;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	right: 3px;
	top: 3px;
	background-color: #e2b13c;
	visibility: hidden;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	opacity: 1\9;
	visibility: visible\9;
	display: none\9;
	-moz-transform: scale(0.5, 0.5);
	-ms-transform: scale(0.5, 0.5);
	-webkit-transform: scale(0.5, 0.5);
	transform: scale(0.5, 0.5);
	z-index: -1;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.button-footr:hover:after {
	visibility: visible;
	filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1;
	display: block\9;
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 55px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../team_images/top2.png) no-repeat 0px 0px;
}
#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
/*-- //services --*/